<div class="container">
  <div class="bg-body-tertiary p-5 rounded">
    <h1>新しいグループを作成しよう</h1>
    <p class="lead">（家族や職場、様々な用途でグループを作成することができます。）</p>
    <%= link_to "Create Group", new_group_path, method: :get, class: "btn btn-purple" %>
  </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Groups</h6>
    
    <% @groups.each do |group| %>
      <% if group.owner_id == current_user.id || group.users.include?(current_user) %>
        <div class="d-flex text-body-secondary pt-3">
          <%= link_to group_items_path(group.id) do %>
            <%= image_tag group.group_image, class: "bd-placeholder-img flex-shrink-0 me-2 rounded group-icon" %>
          <% end %>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <div class="text-gray-dark font-weight-light">
                  <%= link_to group.group_name, group_items_path(group.id), class: "link-dark text-decoration-none" %><br>
                  <div class="mb-1"><%= "#{(group.users.count) + 1 }人が参加中です" %></div>
                </div>
                <div class="mx-1">
                    <% if group.owner_id == current_user.id %>
                    <% elsif group.users.include?(current_user) %>
                      <%= link_to "Exit", group_exit_path(group.id), data: { turbo_method: :delete }, class: "btn btn-purple mx-3" %>
                    <% end %>
                  <%= link_to "Show", group_path(group.id), class: "btn btn-purple" %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
</div>