<div class="container">
  <div class="bg-body-tertiary p-5 rounded">
    <h1>新しいグループを作成しよう</h1>
    <p class="lead">（家族や職場、様々な用途でグループを作成することができます。）</p>
    <%= link_to "Create Group", new_group_path, method: :get, class: "btn btn-purple" %>
  </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Groups</h6>
    <% @groups.each do |group| %>
    <div class="d-flex text-body-secondary pt-3">
      <%= image_tag group.group_image, class: "bd-placeholder-img flex-shrink-0 me-2 rounded group-icon" %>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark"><%= group.group_name %></strong>
          <div class="mx-1">
            <%= link_to "Join", "#", class: "btn btn-purple mx-3" %>
            <%= link_to "Show", group_path(group.id), class: "btn btn-purple" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>