<div class="form-group-create w-100 m-auto mt-5">
  <h1 class="fs-1 mb-5 fw-normal text-center">Group Detail</h1>
      <div class="m-auto mb-5">
        <%= image_tag @group.group_image, class: "rounded-circle group-show-icon d-block mx-auto mb-4" %>
        <h2 class="h3 mb-4 fw-normal text-center"><%= @group.group_name %></h2>
        <p class="text-center mb-4"><%= @group.introduction %></p>
        <p class="text-center">参加メンバー<p>
        <div class="text-center mb-4">
          <% @group.users.each do |member| %>
            <%= member.nickname %>
          <% end %>
        </div>
        <p class="text-center">ホスト<p><br>
        
      </div>
      <% if @group.owner_id == current_user.id %>
        <p><%=link_to 'Edit', edit_group_path(@group.id), class:"btn btn-purple mx-auto d-block w-50" %></p>
        <p><%=link_to 'Delete', "#", class:"btn btn-purple mx-auto d-block w-50" %></p>
      <% end %>
</div>