<h1 class="visually-hidden">Features examples</h1>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom fs-1">このアプリの使い方</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-1 text-body-emphasis">家庭や職場の在庫管理はできていますか？</h3>
        <p class="fs-5">どこに何があるかを明確に管理し、不要な在庫や過剰在庫を未然に防ぎます。</p>
        <div class="col">
          <%= image_tag("使い方１.jpg", class:"card card-cover overflow-hidden rounded-4 shadow-lg w-100") %>
        </div>
      </div>
      
      
      <div class="feature col">
        <h3 class="fs-1 text-body-emphasis">グループを作成し、様々な場面で使用することができます。</h3>
        <div class="col">
          <%= image_tag("グループ作成画像.png", class:"card card-cover overflow-hidden rounded-4 shadow-lg w-100") %>
        </div>
      </div>
      <div class="feature col">
        <h3 class="fs-1 text-body-emphasis">グループにユーザーを招待できます。</h3>
        <%= image_tag("グループ招待.png", class:"card card-cover overflow-hidden rounded-4 shadow-lg w-100") %>
      </div>
      <div class="feature col">
        <h3 class="fs-1 text-body-emphasis">在庫がどこに、どれだけあるか登録できます。</h3>
        <%= image_tag("探し物詳細.png", class:"card card-cover overflow-hidden rounded-4 shadow-lg w-100") %>
      </div>
      <div class="feature col">
        <h3 class="fs-1 text-body-emphasis">PDFファイルも保存できます。</h3>
        <p class="fs-5">必要な時に取り出せない取扱説明書などをPDFで保存！</p>
        <%= image_tag("PDF保存.png", class:"card card-cover overflow-hidden rounded-4 shadow-lg w-100") %>
      </div>
      <div class="feature col">
        <h3 class="fs-1 text-body-emphasis">下限設定をして、在庫不足をお知らせします。</h3>
        <%= image_tag("在庫不足アラート.png", class:"card card-cover overflow-hidden rounded-4 shadow-lg w-100") %>
      </div>
    </div>
  </div>