<div class="form-group-create w-100 m-auto mt-1 mb-6">
  <div class="slider">
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">家や職場の在庫管理<br>できていますか？</h3>
      <%= image_tag "welcomeトップ.jpg", class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">グループ作成</h3>
    <p class="fs-5">家庭や職場などの<br>様々なグループで使用できる！</p>
      <%= image_tag 'グループ作成画像.png', class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">グループ招待</h3>
      <%= image_tag 'グループ招待.png', class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">グループ参加</h3>
    <p class="fs-5">通知ページから参加！</p>
      <%= image_tag 'グループ参加.png', class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">在庫管理</h3>
    <p class="fs-5">探し物が一目でわかる！</p>
      <%= image_tag '在庫管理.png', class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">保管場所</h3>
    <p class="fs-5">どこに保管したか<br>写真でわかりやすい！</p>
      <%= image_tag '保管場所管理.png', class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">在庫不足通知</h3>
    <p class="fs-5">在庫不足を未然に防止！</p>
      <%= image_tag '在庫不足通知.png', class: "img border" %>
    </div>
    <div class="slider-outer">
    <h3 class="fs-2 text-body-emphasis">PDF保存</h3>
    <p class="fs-5">必要な時に取り出せない取扱説明書などをPDFで保存！</p>
      <%= image_tag 'PDF表示.png', class: "img border" %>
    </div>
  </div>
</div>
