<div class="container mt-1">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-2"><%= @group.group_name %></h3>
      <div class="card-text mb-auto">
        <p><%= @group.introduction %></p>
        <div class="mb-1 text-body-secondary">参加メンバー</div>
        <p>
          <% unless @group.users.present? %>
            まだメンバーはいません。
          <% else %>
            <% @group.users.each do |member| %>
                <%= member.nickname %>　
            <% end %>
          <% end %>
        </p>
        <div class="mb-1 text-body-secondary">ホスト</div>
        <p><%= @group.user.nickname %></p>
      </div>
    </div>
    <div class="col-auto d-none d-lg-block">
      <%= image_tag @group.group_image, class: "bd-placeholder-img item-group-icon" %>
    </div>
  </div>
</div>

<div class="container d-flex">
  <%= form_with(url: search_group_items_path(@group.id), local: true, method: :get, class: "input-group") do |form| %>
    <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "form-control" %>
    <%= form.submit "検索", class: "btn btn-outline-purple" %>
  <% end %>
  <%=link_to '+', new_group_item_path(@group.id), class:"btn btn-purple d-block px-4" %>
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
      <% @items.each do |item| %>
        <div class="col">
          <div class="card shadow-sm">
          <% if item.item_image.present? && item.lower.present? && item.quantity < item.lower %>
            <div class="box2">
              <%= image_tag item.item_image, class: "bd-placeholder-img card-img-top item-index-icon opacity-25" %>
              <p class="center">在庫が不足しています</p>
              <% if item.taking == true %>
                <div class='taking-out'>
                  <span>使用中</span>
                </div>
              <% end %>
            </div>
          <% elsif item.item_image.present? %>
            <div class="box2">
              <%= image_tag item.item_image, class: "bd-placeholder-img card-img-top item-index-icon" %>
              <% if item.taking == true %>
                <div class='taking-out'>
                  <span>使用中</span>
                </div>
              <% end %>
            </div>
          <% elsif item.pdf.present? %>
            <%= image_tag "PDF.jpg", class: "bd-placeholder-img card-img-top item-index-icon" %>
          <% end %>
            <div class="card-body">
              <p class="card-text"><%= item.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "Show", "/groups/#{@group.id}/items/#{item.id}", class: "btn btn-sm btn-purple" %>
                  <%= link_to "Edit", "/groups/#{@group.id}/items/#{item.id}/edit", class: "btn btn-sm btn-purple" %>
                </div>
                <small class="text-body-secondary">数量　<%= item.quantity %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

