<div class="form-group-create w-100 m-auto mt-2">
  <h1 class="fs-1 mb-5 fw-normal text-center">Search Item</h1>

  <%= form_with model: @item, url: group_items_path(@group.id), local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

    <div class="mb-3">
      <div class="weight-bold-text">
        探し物
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"form-control", id:"exampleFormControlInput1", placeholder:"例) はさみ（必須 20文字まで)", maxlength:"20" %>
    </div>

    <div class="img-upload">
      <div class="weight-bold-text">
        探し物画像 or PDF
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <small>画像</small>
        <%= f.file_field :item_image, id:"formFile", class:"form-control" %>
        <small>PDF</small>
        <%= f.file_field :pdf, id:"formFile", class:"form-control" %>
      </div>
    </div>

    <div class="mb-4">
      <div class="weight-bold-text">
        数量
        <span class="indispensable">必須</span>
      </div>
      <%= f.number_field :quantity, class:"quantity-form-control", id:"exampleFormControlInput1"%>
    </div>

    <div class="mb-4">
      <div class="weight-bold-text">
        下限数量
        <span class="optional">任意</span>
      </div>
      <%= f.number_field :lower, class:"quantity-form-control", id:"exampleFormControlInput1"%>
    </div>

    <div class="mb-3">
      <div class="weight-bold-text">
        保管場所
        <span class="optional">任意</span>
      </div>
      <%= f.text_area :storage, class:"form-control", id:"exampleFormControlInput1", placeholder:"例) 1階リビング　道具箱の2段目の引き出し（任意 50文字まで)", maxlength:"50" %>
    </div>

    <div class="img-upload">
      <div class="weight-bold-text">
        保管場所画像
        <span class="optional">任意</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :storage_image, id:"formFile", class:"form-control" %>
      </div>
    </div>

    <div class="mb-5">
      <div class="weight-bold-text">
        補足情報
        <span class="optional">任意</span>
      </div>
      <%= f.text_area :explanation, class:"form-control", id:"exampleFormControlTextarea1", placeholder:"グループの紹介文（任意 100文字まで）例）1階リビング入って右側に道具箱はあります。" ,rows:"7" ,maxlength:"100" %>
    </div>


      <%= f.submit "registration" ,class:"btn btn-purple mx-auto d-block w-50" %><br />
      <%=link_to 'Back', group_items_path(@group.id), class:"btn btn-purple mx-auto d-block w-50 mb-6" %>

  <% end %>
</div>