<div class="flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <%=link_to 'Back', group_items_path(@group.id), class:"btn btn-purple d-block w-25" %>
    <p class="lead">探し物</p>
    <h2 class="display-5"><%= @item.name %></h2>
    <%= form_with model: @item, url: "/groups/#{@group.id}/items/#{@item.id}", local: true do |f| %>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class:"quantity-form-control-show", id:"exampleFormControlInput1"%>
      <%= f.submit "変更" ,class:"btn btn-purple w-25 mb-1" %>
    <% end %>
    <div class="mb-2">
      <%=link_to '使用開始', "#", class:"btn btn-purple w-25" %>
      <%=link_to '使用終了', "#", class:"btn btn-purple w-25" %>
    </div>
    <% if @item.item_image.present? %>
      <%= image_tag @item.item_image, class: "mx-auto item-show-icon" %>
    <% elsif @item.pdf.present? %>
      <a href="<%= image_url(@item.pdf_url) %>" target="_blank">
        <%= image_tag "PDF.jpg", class: "mx-auto item-show-icon" %>
      </a>
    <% end %>
  </div>
  <% if @item.storage.present? && @item.explanation.present? && @item.storage_image.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <p class="lead">保管場所</p>
        <h2 class="display-5"><%= @item.storage %></h2>
        <p class="lead"><%= @item.explanation %></p>
      </div>
      <%= image_tag @item.storage_image, class: "mx-auto item-storage-icon" if @item.item_image.attached? %>
    </div>
  <% elsif @item.storage.present? && @item.explanation.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <p class="lead">保管場所</p>
        <h2 class="display-5"><%= @item.storage %></h2>
        <p class="lead"><%= @item.explanation %></p>
      </div>
    </div>
  <% elsif @item.storage.present? && @item.storage_image.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <p class="lead">保管場所</p>
        <h2 class="display-5"><%= @item.storage %></h2>
      </div>
      <%= image_tag @item.storage_image, class: "mx-auto item-storage-icon" if @item.item_image.attached? %>
    </div>
  <% elsif @item.explanation.present? && @item.storage_image.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <p class="lead"><%= @item.explanation %></p>
      </div>
      <%= image_tag @item.storage_image, class: "mx-auto item-storage-icon" if @item.item_image.attached? %>
    </div>
  <% elsif @item.storage.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <p class="lead">保管場所</p>
        <h2 class="display-5"><%= @item.storage %></h2>
      </div>
    </div>
  <% elsif @item.explanation.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <p class="lead"><%= @item.explanation %></p>
      </div>
    </div>
  <% elsif @item.storage_image.present? %>
    <div class="text-bg-purple me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <%= image_tag @item.storage_image, class: "mx-auto item-storage-icon" if @item.item_image.attached? %>
      </div>
    </div>
  <% end %>
</div>